apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: root-app
  namespace: argocd
spec:
  project: default
  source:
    repoURL: 'https://github.com/priyanshu124/streaming-data-pipeline.git'
    targetRevision: HEAD
    path: k8s/apps  # This is where we will put our Producer and Kafka UI YAMLs
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true